* {
    padding:0;
    margin:0;
}

body {
    background-color:#e9eaed;
}

#barra-superior {
    background-color:#5257b7;
    position:fixed;
    left:0;
    top:0;
    width:100%;
    border-bottom:2px solid #7e80a9;
}

.conteudo-meio {
    width:1080px;
    margin:0 auto;
}

#banner-pesquisa {
    width:600px;
    display:table;
    color:#ffffff;
}

.direita {
    float:right;
}

.esquerda {
    float:left;
}

#pesquisa-superior {
    background-color:#ffffff;
    margin:10px;
    border-radius:5px;
}

#banner {
    padding:12px;
}

#pesquisa-superior input[type="text"]{
    border:0;
    padding:5px;
    width:300px;
    margin-left:5px;
}

#pesquisa-superior input[type="submit"] {
    border:0;
    padding:5px;
    border-bottom-right-radius:5px;
    border-top-right-radius:5px;
    background:url("images.png") no-repeat #ffffff;
    background-size:15px 15px;
    background-position:center;
    width:50px;
    border-left: 1px dotted #5257b7;
    cursor:pointer;
}

.laterais {
    width:250px;
    margin:5px;
    padding:5px;
}

#time-line {
    width:530px;
}

#time-line ul{
    list-style:none;
}

    #time-line ul li {
        background-color:#ffffff;
        min-height:300px;
        border-radius:5px;
        margin:5px;
        padding:10px;
    }

#conteudo {
    margin-top:50px;
    display:table;
}

#rodape {
    margin:5px;
    border-top:1px double #7e80a9;
    text-align:center;
    padding:20px;   
}

#menu {
    list-style:none;
}

    #menu li a {
        text-decoration:none;
        padding:5px;
        color:#000000;
        display:block;

    }
    #menu li a:hover{
        background-color:#d9dadd;
    }