<!DOCTYPE html>
<html>
<head>
    <title>Aula HTML e CSS</title>
	<meta charset="utf-8" />
    <link rel="stylesheet" type="text/css" href="../Style/Style.css" />
</head>

<body>
    <!-- toda a barra sperior do site -->
    <div id="barra-superior">
        <div class="conteudo-meio">
            <div id="banner-pesquisa">
                <div id="banner" class="esquerda">
                    É tipo Facebook
                </div>
                <form id="pesquisa-superior" action="#" class="direita">
                    <input type="text" name="pesquisar" id="pesquisar" placeholder="O que você quer pesquisar?" />
                    <input type="submit" value=" " />
                </form>
            </div>
        </div>
    </div>

    <!-- todo o meio do site (menu-lateral, time-line, propagandas) -->
    <div id="conteudo" class="conteudo-meio">
        <div class="esquerda">
            <div id="menu-lateral" class="esquerda laterais">
                <ul id="menu">
                    <li><a href="#">item menu</a></li>
                    <li><a href="#">item menu</a></li>
                    <li><a href="#">item menu</a></li>
                    <li><a href="#">item menu</a></li>
                    <li><a href="#">item menu</a></li>
                    <li><a href="#">item menu</a></li>
                    <li><a href="#">item menu</a></li>
                    <li><a href="#">item menu</a></li>
                    <li><a href="#">item menu</a></li>
                    <li><a href="#">item menu</a></li>
                    <li><a href="#">item menu</a></li>
                </ul>
            </div>

            <div id="time-line" class="direita">
                <ul>
                    <li>Comteudo time line</li>
                    <li>Comteudo time line</li>
                    <li>Comteudo time line</li>
                    <li>Comteudo time line</li>
                    <li>Comteudo time line</li>
                    <li>Comteudo time line</li>
                    <li>Comteudo time line</li>
                </ul>
            </div>
        </div>
        <div id="dinheiro" class="direita laterais">
            propaganda
        </div>
    </div>
    <div id="rodape">
        by:Gustavo Laviola
    </div>

</body>

</html>
