<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <title>Aula HTML e CSS </title>
    <script type="text/javascript" src="../Script/Framework.js"></script>
    <script type="text/javascript" src="../Script/Script.js"></script>
</head>
<body> 
    <form action="#">
        <div>
            <input type="text" name="numero" id="primeiroNumero" placeholder="Primeiro numero" />
            <span id="erro-primeiroNumero"></span>
        </div>
         <br />
        <div>
            <input type="text" name="numero" id="segundoNumero" placeholder="Segundo numero" />
            <span id="erro-segundoNumero"></span>
        </div>
        <br />
        <br />
        <input type="button" id="calcular" value="calcular" />
    </form>
    <span id="retorno"></span>
</body>
</html>
